@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
$font-montserrat: "Montserrat", sans-serif;

.text-white {
  color: $white-primary !important;
}

.text-gray {
  color: $black-light;
}

.text-dark {
  color: $black-dark !important;
}

.text-600 {
  font-weight: 600;
}

.text-400 {
  font-weight: 400;
}

.text-700 {
  font-weight: 700;
}

.letter-spacing-05 {
  letter-spacing: 0.5px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.letter-spacing-6 {
  letter-spacing: 6px;
}
