.testimonials {
  max-width: 750px;
  border: 2px solid rgba($white-primary, 0.8);
  border-radius: 8px;

  &__single {
    outline: none;
    border: none;

    &:active,
    &:hover {
      outline: none;
      border: none;
    }
  }

  .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots button::before,
  .slick-dots .slick-active button::before {
    color: $white-primary;
  }
}
