.homepage {
  &__logo-wrapper {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: $white-primary;
  }

  &__logo {
    width: 100%;
    max-width: 400px;
  }

  &__logo-cities {
    &-single {
      font-size: 20px;
      margin-bottom: 4px;
    }
  }

  &__locations {
    position: relative;

    &-name {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
}
