.homepage {
  // header
  &__logo-wrapper {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: $white-primary;
  }

  &__logo {
    width: 100%;
    max-width: 400px;
  }

  &__logo-cities {
    &-single {
      font-size: 20px;
    }
  }

  &__desktop-links {
    position: absolute;
    bottom: 24px;

    a {
      text-transform: uppercase;
      color: $white-primary;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1px;
      &::after {
        height: 1px;
        content: "";
        display: block;
        margin: 6px auto 0;
        bottom: 0;
        overflow: hidden;
        background-color: #fff;
        max-width: 100px;
        width: 50%;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        text-decoration: none;
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
