.testimonials-page {
  background-color: $black-dark;
  &__wrapper {
    max-width: 900px;
    margin: auto;

    p {
      font-style: italic;
    }

    .slick-track {
      display: block !important;
    }
  }

  &__single-quote {
    font-size: 54px;
    font-weight: 700;
    font-family: cursive;
    margin-right: 18px;
    line-height: 0;
    bottom: -16px;
    position: relative;

    &--last {
      bottom: -28px;
      left: 12px;
    }
  }
}
